.welcomePage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0%;
    padding: 0%;
    text-align: center;
    animation: color-change-2x 2s linear infinite alternate both;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #543E5B;
    width: 100%;
    padding: 5%;
}

h1 {
    color: #F18F01;
}

h3 {
    color: #9BD8F9;
}

img {
    width: 50px;
}

@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}