<div class="container mt-5 home-area">
  <div class="row">
    <div class="col-4 form-area">
      <h3>Which service do you need?</h3>
      <br />

      <form [formGroup]="formPresupuesto" (ngSubmit)="saveBudget()">
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            (click)="check($event)"
            (change)="activationModal($event)"
            value="web"
          />
          <label class="form-check-lavel">1- Website (500 €)</label
          ><br />
        </div>
        <ng-template [ngIf]="webOption">
          <app-panel
            *ngIf="webOption"
            (mostrarTotal)="actualizarTotal()"
          ></app-panel>
        </ng-template>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            (click)="check($event)"
            value="seo"
          />
          <label class="form-check-lavel">2- SEO consultancy (300 €)</label
          ><br />
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            (click)="check($event)"
            value="ads"
          />
          <label class="form-check-lavel"
            >3- Google Ads campaign (200 €)</label
          ><br />
        </div>
        <div>
          <h4 class="mb-4">Total: {{ this.actualizarTotal() }}€</h4>
        </div>
        <div>
          <label class="col-form-label">User name</label>
          <div>
            <input
              type="text"
              class="form-control"
              formControlName="usuario"
              placeholder="Please enter your name"
            />
            <span class="form-text text-danger" *ngIf="campoEsValido('usuario')"
              >This field is required</span
            >
          </div>
          <label class="col-form-label">Budget title</label>
          <div>
            <input
              type="text"
              class="form-control"
              formControlName="titulo"
              placeholder="Please enter a title for your budget"
            />
            <span class="fomr-text text-danger" *ngIf="campoEsValido('usuario')"
              >This field is required</span
            >
          </div>
        </div>
        <button class="btn btn-warning btn-lg mt-3" type="submit">
          Save budget
        </button>
      </form>

      <button
        routerLink=""
        type="button"
        class="btn btn-outline-secondary mt-5"
      >
      ← Go back
      </button>
    </div>

    <div class="col-8">
      <app-budget-list></app-budget-list>
    </div>
  </div>
</div>
