
<div class="row m-5">
    <div class="col">
        <h3>¿Qué quieres hacer?</h3><br>
        <form class="m-2" [formGroup]="formPresupuesto">
            <div class="form-check">
                <input type="checkbox" class="form-check-input"
                    (click)="check($event)"
                    (change)="activationModal($event)"
                    value="web">
                <label class="form-check-lavel">1- Una página web (500 €)</label><br>
            </div>
            <ng-template [ngIf]="webOption">
                <app-panel *ngIf="webOption" (mostrarTotal)="actualizarTotal()"></app-panel>
            </ng-template>
            <div class="form-check">
                <input type="checkbox" class="form-check-input"
                    (click)="check($event)"
                    value="seo">
                <label class="form-check-lavel">2- Una consultoría SEO (300 €)</label><br>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input"
                    (click)="check($event)"
                    value="ads">
                <label class="form-check-lavel">3- Una campaña de Google Ads
                    (200 €)</label><br>
            </div>
            <h4 class="mt-3">Total: {{this.actualizarTotal()}}€</h4>
        </form>
    </div>
</div>
