
<div class="row m-5">
    <div class="col">
        <h3>¿Qué quieres hacer?</h3><br>
        <form class="m-2">
            <div class="form-check">
                <input type="checkbox" class="form-check-input"
                    (click)="sumar($event)"
                    (change)="activationModal($event)"
                    value="web">
                <label class="form-check-lavel">1- Una página web (500 €)</label><br>
            </div>
                <ng-template [ngIf]="webOption">
                    <app-panel></app-panel>
                    <button type="button" class="btn btn-success mb-2"
                    (click)="sumar($event)">Agregar</button>
                </ng-template>
            <div class="form-check">
                <input type="checkbox" class="form-check-input"
                    (click)="sumar($event)"
                    value="seo">
                <label class="form-check-lavel">2- Una consultoría SEO (300 €)</label><br>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input"
                    (click)="sumar($event)" 
                    value="ads">
                <label class="form-check-lavel">3- Una campaña de Google Ads
                    (200 €)</label><br>
            </div>
            <h4 class="mt-3">Total: {{precioTotal}}€</h4>
        </form>
    </div>
</div>
