<form (ngSubmit)="guardar()" [formGroup]="formularioWeb">
    <div class="mb-3 row">
        <label class="col-form-label">Número de páginas</label>
        <div class="col-sm-2">
            <input type="number"
                class="form-control"
                formControlName="paginas">
            <span class="form-text text-danger"
            *ngIf="campoNoEsValido('paginas')">
                    El número debe ser mayor de cero
            </span>
        </div>
    </div>
    <div class="mb-3 row">
        <label>Número de idiomas</label>
        <div class="col-sm-2">
            <input type="number"
                class="form-control"
                formControlName="idiomas">
            <span class="form-text text-danger"
            *ngIf="campoNoEsValido('idiomas')">
                    El número debe ser mayor de cero
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <button type="submit"
            class="btn btn-primary"
            (click)="agregarWebService(numPaginas, numIdiomas)">
            Calcular
            </button>
            <span class="m-2">--> Subtotal: +{{webServiceResult}}€</span>
        </div>
    </div>
</form>