<form (ngSubmit)="guardar()" [formGroup]="formularioWeb">
    <div class="mb-3 ms-3 row">
        <label class="col-form-label">Número de páginas</label>
        <div class="col-sm-2 input-group w-25">
            <button type="button" class="btn btn-info text-light"
                (click)="sumar('paginas')"><strong>+</strong></button>
            <input type="number"
                class="form-control"
                formControlName="paginas"
                [(ngModel)]="numPaginas">
            <button type="button" class="btn btn-info text-light"
                (click)="restar('paginas')"><strong>-</strong></button>
            <app-modal></app-modal>
        </div>
        <span class="form-text text-danger"
            *ngIf="campoNoEsValido('paginas')">
            El número debe ser mayor de cero
        </span>
    </div>
    <div class="mb-3 ms-3 row">
        <label>Número de idiomas</label>
        <div class="col-sm-2 input-group w-25">
            <button type="button" class="btn btn-info text-light"
                (click)="sumar('idiomas')"><strong>+</strong></button>
            <input type="number"
                class="form-control"
                formControlName="idiomas"
                [(ngModel)]="numIdiomas">
            <button type="button" class="btn btn-info text-light"
                (click)="restar('idiomas')"><strong>-</strong></button>
            <app-modal></app-modal>
        </div>
        <span class="form-text text-danger"
            *ngIf="campoNoEsValido('idiomas')">
            El número debe ser mayor de cero
        </span>
    </div>
</form>