
<h4>Mis Presupuestos</h4>
<hr>

<div class="container">
    <div class="row">
        <div class="col">

        <div class="input-group mb-2 w-75">
                <input type="text" class="form-control" name="tituloABuscar" placeholder="Buscar presupuesto por titulo" ngDefaultControl [(ngModel)]="tituloABuscar">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"
                        (click)="buscar()">Buscar</button>
                </div>
        </div> 

        <ng-template [ngIf]="busqueda">
            <div>
                <span><strong class="me-1">Titulo del presupuesto:</strong>{{presu}}</span><br>
                <span><strong class="me-1">ID:</strong>{{presuID}}</span><br>
                <span><strong class="me-1">Nombre del usuario:</strong>{{presuUser}}</span><br>
                <span><strong class="me-1">Precio total:</strong>{{presuTotal}}€</span><br>
                <span></span>
            </div>
        </ng-template>

        </div>
    </div>
</div>

<div class="row">
    <div class="btn-group" role="group">
        <h6 class="mt-3">Ordenar presupuestos:</h6>
        <button type="button" class="btn btn-info m-2 rounded-pill" (click)="porAlfabeto()">A-Z</button>
        <button type="button" class="btn btn-info m-2 rounded-pill" (click)="porFecha()">Fecha</button>
        <button type="button" class="btn btn-info m-2 rounded-pill" (click)="porID()">ID</button>
    </div>
</div>

<div class="row">
    <div class="col-12">

        <table class="table table-striped">
            <thead>
                <tr class="justify-content-around">
                    <th scope="row">ID</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Total</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of imprimirLista()">
                    <th scope="row"><strong>{{item.id}}</strong></th>
                    <td>{{item.budgetTitle}}</td>
                    <td>{{item.userName}}</td>
                    <td>{{item.totalPrice}}€</td>
                    <td>{{item.date}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
